* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.grid--container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr;
  grid-template-rows: 1fr 4fr 3fr 2fr;
  grid-template-areas: "main main header"
                        "main main candy"
                        "nom yum candy"
                        "footer footer candy";
  height: 100vh;
  margin: 2em;
}

header {
  grid-area: header;
  background-color: #FFF;
}

header .header__nav .header__nav--list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1em;
  text-align: center;
  list-style: none;
  a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
  }
  :hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

header .header__nav .header__nav--list .active {
  color: coral;
}

main {
  padding: 3em 4em;
  grid-area: main;
  background-color: #FFFADF;
}

main .main--description {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

main .main--description .main--name {
  margin-bottom: 4em;
  font-size: 1.6rem;
  font-weight: 500;
  color: coral;
  text-decoration: none;
}

main .main--description .main--title {
  margin-bottom: .5em;
  font-size: 2.4rem;
  font-weight: 500;
}

main .main--description .main--copy {
  font-size: 1.2rem;
}
section.nom {
  grid-area: nom;
  background-color: #C4B35A;
}

section.yum {
  grid-area: yum;
  background-color: #202020;
}

section.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

section.candy {
  grid-area: candy;
  background-image: url('https://images.unsplash.com/photo-1575224300306-1b8da36134ec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  grid-area: footer;
  background-color: #333333;
}

footer.card{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(141, 141, 141);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

@media screen and (max-width: 768px){
  .grid--container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 1fr;
    grid-template-areas: "header header"
                        "main candy"
                        "nom candy"
                        "yum candy"
                        "footer footer";
  }
}

@media screen and (max-width: 425px){
  .grid--container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr 2fr 2fr 1fr;
    grid-template-areas: "header"
                        "main"
                        "candy"
                        "nom"
                        "yum"
                        "footer";
  }
}