* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.grid--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr 1.5fr;
      grid-template-columns: 1fr 1.2fr 1.5fr;
  -ms-grid-rows: 1fr 4fr 3fr 2fr;
      grid-template-rows: 1fr 4fr 3fr 2fr;
      grid-template-areas: "main main header" "main main candy" "nom yum candy" "footer footer candy";
  height: 100vh;
  margin: 2em;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header;
  background-color: #FFF;
}

header .header__nav .header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  text-align: center;
  list-style: none;
}

header .header__nav .header__nav--list a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

header .header__nav .header__nav--list :hover {
  cursor: pointer;
  text-decoration: underline;
}

header .header__nav .header__nav--list .active {
  color: coral;
}

main {
  padding: 3em 4em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #FFFADF;
}

main .main--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

main .main--description .main--name {
  margin-bottom: 4em;
  font-size: 1.6rem;
  font-weight: 500;
  color: coral;
  text-decoration: none;
}

main .main--description .main--title {
  margin-bottom: .5em;
  font-size: 2.4rem;
  font-weight: 500;
}

main .main--description .main--copy {
  font-size: 1.2rem;
}

section.nom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nom;
  background-color: #C4B35A;
}

section.yum {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: yum;
  background-color: #202020;
}

section.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

section.candy {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: candy;
  background-image: url("https://images.unsplash.com/photo-1575224300306-1b8da36134ec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #333333;
}

footer.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #8d8d8d;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
}
/*# sourceMappingURL=main.css.map */